# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from pathlib import Path
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("/content/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])
# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[["STATUS", "IS_SUCCESSFUL"]], encoded_df],axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[0:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X[0:5]

,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

115

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6728

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,469
Trainable params: 8,469
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5303 - accuracy: 0.6772
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0424 - accuracy: 0.7006
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2616 - accuracy: 0.7014
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1597 - accuracy: 0.6981
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1039 - accuracy: 0.7061
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8411 - accuracy: 0.7149
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7030 - accuracy: 0.7219
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8254 - accuracy: 0.7177
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8215 - accuracy: 0.7225
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7240 - accuracy: 0.7236
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7007 - accuracy: 0.7201
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6883 - accuracy: 0.7214
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6762 - accuracy: 0.7309
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7616 - accuracy: 0.7224
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7302 - accuracy: 0.7231
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7121 - accuracy: 0.7290
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7209 - accuracy: 0.7308
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7107 - accuracy: 0.7301
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6970 - accuracy: 0.7229
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6952 - accuracy: 0.7280
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6796 - accuracy: 0.7313
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6727 - accuracy: 0.7323
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6711 - accuracy: 0.7258
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6742 - accuracy: 0.7298
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6763 - accuracy: 0.7257
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6588 - accuracy: 0.7314
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6603 - accuracy: 0.7296
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6662 - accuracy: 0.7328
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6659 - accuracy: 0.7207
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6459 - accuracy: 0.7282
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6321 - accuracy: 0.7328
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6384 - accuracy: 0.7313
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6528 - accuracy: 0.7308
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6523 - accuracy: 0.7270
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6464 - accuracy: 0.7231
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6401 - accuracy: 0.7344
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6396 - accuracy: 0.7352
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6548 - accuracy: 0.7254
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6353 - accuracy: 0.7329
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6485 - accuracy: 0.7246
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6482 - accuracy: 0.7340
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6507 - accuracy: 0.7210
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6586 - accuracy: 0.7146
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6442 - accuracy: 0.7323
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6408 - accuracy: 0.7345
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6389 - accuracy: 0.7353
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6416 - accuracy: 0.7345
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6500 - accuracy: 0.7360
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6444 - accuracy: 0.7355
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6589 - accuracy: 0.7250

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6272 - accuracy: 0.7291 - 482ms/epoch - 2ms/step
Loss: 0.6271743178367615, Accuracy: 0.7290962338447571

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

115

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
type(nn_A1)

keras.engine.sequential.Sequential

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 1.1842 - accuracy: 0.6968
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1358 - accuracy: 0.6992
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2541 - accuracy: 0.7030
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0119 - accuracy: 0.7074
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0084 - accuracy: 0.7155
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0210 - accuracy: 0.7116
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1596 - accuracy: 0.7073
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0288 - accuracy: 0.7120
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9462 - accuracy: 0.7202
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0787 - accuracy: 0.7128
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1007 - accuracy: 0.7168
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3023 - accuracy: 0.6953
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3688 - accuracy: 0.6951
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2257 - accuracy: 0.7026
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9054 - accuracy: 0.7230
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1281 - accuracy: 0.7028
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2225 - accuracy: 0.7015
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2500 - accuracy: 0.6985
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2602 - accuracy: 0.6986
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2574 - accuracy: 0.6995
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2410 - accuracy: 0.7030
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0612 - accuracy: 0.7010
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9006 - accuracy: 0.7200
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0170 - accuracy: 0.6940
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0850 - accuracy: 0.6958
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0772 - accuracy: 0.7030
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8609 - accuracy: 0.7086
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0292 - accuracy: 0.7122
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8647 - accuracy: 0.7225
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8413 - accuracy: 0.7291
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8481 - accuracy: 0.7280
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8452 - accuracy: 0.7293
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9268 - accuracy: 0.7184
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9214 - accuracy: 0.7147
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2554 - accuracy: 0.6847
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7689 - accuracy: 0.7242
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7639 - accuracy: 0.7280
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7613 - accuracy: 0.7290
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7506 - accuracy: 0.7275
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8273 - accuracy: 0.7194
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7557 - accuracy: 0.7285
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7460 - accuracy: 0.7314
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7918 - accuracy: 0.7251
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8362 - accuracy: 0.7140
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7357 - accuracy: 0.7296
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7441 - accuracy: 0.7290
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7438 - accuracy: 0.7296
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7655 - accuracy: 0.7259
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7441 - accuracy: 0.7298
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7297 - accuracy: 0.7319

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

115

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
type(nn_A2)

keras.engine.sequential.Sequential

In [40]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Fit the model
deep_net_model_2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3119 - accuracy: 0.6692
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2045 - accuracy: 0.6950
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2534 - accuracy: 0.6802
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0881 - accuracy: 0.7067
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0504 - accuracy: 0.7150
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1583 - accuracy: 0.7091
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3451 - accuracy: 0.6932
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3666 - accuracy: 0.6952
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3064 - accuracy: 0.7003
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3148 - accuracy: 0.6995
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3189 - accuracy: 0.6970
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3928 - accuracy: 0.6899
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4497 - accuracy: 0.6843
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3133 - accuracy: 0.7025
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2363 - accuracy: 0.7099
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3821 - accuracy: 0.6973
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0931 - accuracy: 0.7172
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 1.7458 - accuracy: 0.6791
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 1.3864 - accuracy: 0.6675
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 1.4112 - accuracy: 0.6738
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0638 - accuracy: 0.6771
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0848 - accuracy: 0.7034
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9736 - accuracy: 0.7172
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1080 - accuracy: 0.7099
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0954 - accuracy: 0.7151
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9382 - accuracy: 0.7211
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9904 - accuracy: 0.7166
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9983 - accuracy: 0.6891
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8197 - accuracy: 0.7147
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8265 - accuracy: 0.7249
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0648 - accuracy: 0.7033
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0881 - accuracy: 0.7008
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9541 - accuracy: 0.7173
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8484 - accuracy: 0.7258
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8879 - accuracy: 0.7124
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8186 - accuracy: 0.7108
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7947 - accuracy: 0.7183
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7822 - accuracy: 0.7293
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0514 - accuracy: 0.7077
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1410 - accuracy: 0.7061
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7599 - accuracy: 0.7233
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7823 - accuracy: 0.7244
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8391 - accuracy: 0.7207
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7551 - accuracy: 0.7283
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7610 - accuracy: 0.7232
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9375 - accuracy: 0.7161
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0196 - accuracy: 0.7083
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8282 - accuracy: 0.7187
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7391 - accuracy: 0.7303
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7268 - accuracy: 0.7310

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6272 - accuracy: 0.7291 - 337ms/epoch - 1ms/step
Loss: 0.6271743178367615, Accuracy: 0.7290962338447571

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.9446 - accuracy: 0.7004 - 442ms/epoch - 2ms/step
Loss: 0.9445944428443909, Accuracy: 0.7004081606864929

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.7343 - accuracy: 0.7294 - 452ms/epoch - 2ms/step
Loss: 0.7343218326568604, Accuracy: 0.7294460535049438

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [46]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)